* {
    margin: 0;
    padding: 0;
}

h2 {
    color: red;
    display: inline-block;
    border: solid blue 2px;
    margin: 30px;
    padding: 10px;
}



#defence-ship {
    border: black 2px solid;
    display: inline-block;
    margin: 10px;
    height: 50px;
    width: 100px;
}

#attack-ship {
    border: red 2px solid;
    display: inline-block;
    margin: 20px;
    height: 50px;
    width: 100px;
}

#button {
    margin-top: 50px;
    margin-left: 20px;
}